@import "tailwindcss";

/* https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually */
@custom-variant dark (&:where(.dark, .dark *));

/* Notion content dark mode switching */
/* Ensure proper display toggling between light and dark versions */
.notion-light-mode {
  @apply block;
}

.dark .notion-light-mode {
  @apply hidden;
}

.notion-dark-mode {
  @apply hidden;
}

.dark .notion-dark-mode {
  @apply block;
}

